APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:UWz4nDrD8VCblr84SJuq+aBoNyxWDiLmZCv3YGEI1jo=
APP_DEBUG=true

# 🔥 IMPORTANTE (Codespaces ou API externa)
APP_URL=https://shiny-space-lamp-v6xv7x7ppq49fpv5x-8000.app.github.dev

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

BCRYPT_ROUNDS=12

# DATABASE (podes manter sqlite ou mudar depois)
DB_CONNECTION=sqlite

# SESSION (IMPORTANTE para API + Sanctum)
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_DOMAIN=null

# CACHE / QUEUE (simples para API)
CACHE_STORE=file
QUEUE_CONNECTION=sync

# LOG
LOG_CHANNEL=stack
LOG_LEVEL=debug

# MAIL (não usado agora)
MAIL_MAILER=log

# SANCTUM (opcional mas recomendado em API externa)
SANCTUM_STATEFUL_DOMAINS=shiny-space-lamp-v6xv7x7ppq49fpv5x-8000.app.github.dev